body {
    margin: 0px;
    font-family: 'Fira Sans', Arial, sans-serif;
    color: #141414
}

h1, h1, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.subtitulo {
    font-size: 8rem;
    word-break: break-all ; /* Quebra o texto */
    text-transform: uppercase;
    max-width: 4ch; /* Define a quantidade de caracter */
    line-height: 1;
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize; /* Primeira letra maiúscula */
        max-width: initial !important; /* Valor inicial do texto */
    }

}